head
    title politix
    link(rel="stylesheet" type="text/css" href="/css/component.css")
    style.
        canvas { width: 100%; height: 100% }



template(name="Main")
    //- 
        Top level template.
        The container for all templates.
    
    .main
        
        if currentUser
            if noTown
                +StartGame
            else
                +Dashboard
        else
            +atForm


template(name="Nav")
    +atNavButton
    
    if currentUser
        p= currentUser
        .row
            a.text-center(href="/dashboard")
                .btn.btn-primary.btn-lg Game
    else
        .pull-right


template(name="Layout")
    //- 
        Places the components in their proper place.
        Displayed if company and owner is set
    
    //-
        .top-bar
            +Nav

    .side-bar
        if gameActive
            +NavList
            //+Chat
            +EventList

    .main-window
        +Main

    script.
        $(".main-window")
            .width($(window).width()-200)
            .height($(window).height());



template(name="Dashboard")
    //- 
        Contains the view where all components are available

    //-canvas#spaceCanvas
    //-#map-container

    // Standard on
    +Town
    +Settlers
    +Treasury
    +Trade
    //+Politics
    //+Production
    +Relations
    +Storage
    //+Mining

    // Dialogs
    +DialogConfirm
    +DialogAlert
    +MarketDialog
    +MarketCreateOrder

    #context-menu.context-menu(style="display:none")
        ul
            li.btn-btn-default Close

template(name="Home")
    //-
        Home page.
        Displays news maybe

    .home.panel.panel-primary.drag-component.resizable
            .panel-heading
                | Hello
            .panel-body
                | Such a sexy boody



template(name="Loading")
    //-
        Loading page, might be useful

    .loading
        h1 Loading...

