template(name="market")
    //-
        The grand market
        Buy and sell products of all kinds
        Get statistics of transactions
        View company orders

    .market.panel.panel-primary.drag-component.resizable(style="display:none")
        .panel-heading Market
        .panel-body
            ul.market-filter.col-sm-3
                each items
                    li= key

            .orders.col-sm-9
                table.buy.orders
                    caption Buy Orders
                    thead
                        tr
                            th Corporation
                            th Price
                            th Amount
                    tbody
                        tr
                            td Corpimus Maximus
                            td 158.00
                            td 100
                        tr
                            td Corpimus Maximus
                            td 258.00
                            td 300
                        tr
                            td Corpimus Maximus
                            td 138.00
                            td 11020
                        tr
                            td Corpimus Maximus
                            td 158.00
                            td 1040

                table.sell.orders
                    caption Sell Orders
                    thead
                        tr
                            th Corporation
                            th Price
                            th Amount
                    tbody
                        tr
                            td Corpimus Maximus
                            td 158.00
                            td 100
                        tr
                            td Corpimus Maximus
                            td 258.00
                            td 300
                        tr
                            td Corpimus Maximus
                            td 138.00
                            td 11020
                        tr
                            td Corpimus Maximus
                            td 158.00
                            td 1040

