.market
    min-width: 500px !important
    min-height: 300px !important

    .market-filter
        

        li
            padding: 0 5px
            margin: 0 0 5px 0
            background: wheat

    table
        width: 100%