head
    title politix
    link(rel="stylesheet" type="text/css" href="/css/component.css")
    style.
        canvas { width: 100%; height: 100% }

template(name="main")
    //- 
        Top level template.
        The container for all templates.
    
    .main
        if noUser
            +entrySignIn
        

        h1.text-center
            | Greed
        
        .row
            a.text-center(href="/dashboard")
                .btn.btn-primary.btn-lg Game



template(name="layout")
    //- 
        Places the components in their proper place.
        Displayed if company and owner is set
    

    .top-bar
        if currentUser
            +loginButtons
            .user-info
                span Corporation: #{currentUser.corporation}
                span Name: #{currentUser.profile.name}

    +yield

            //-
                .row.page
                    // Company status row
                    +companyStatus

                .row
                    .col-md-1.page
                        // Nav, other things?
                        +navList

                    .col-md-9.page
                        // Content of different pages
                        +yield

                    .col-md-2.page
                        // Chat, status updates
                        +eventList
                        +chat




template(name="dashboard")
    //- 
        Contains the view where all components are available
    
    canvas#spaceCanvas
    

    if noCorporation
        +startGame
    else if noName
        +startGame
    else
    
        // Standard on
        +corporation
        +navList
        +eventList
        +chat

        // Togglable
        +employees
        +finance
        +market
        +politics
        +production
        +relations
        +storage
        +mining

        // Dialogs
        +dialogConfirm
        +dialogAlert
        +marketDialog
        +marketCreateOrder

    #context-menu.context-menu(style="display:none")
        ul
            li.btn-btn-default Close

template(name="home")
    //-
        Home page.
        Displays news maybe

    .home.panel.panel-primary.drag-component.resizable
            .panel-heading
                | Hello
            .panel-body
                | Such a sexy boody



template(name="loading")
    //-
        Loading page, might be useful

    .loading
        h1 Loading...

