




/* Page containers */

.top-bar
    position:relative
    top: 0
    left: 0
    background: gray
    color:white

    a
        color:white

    
    #login-dropdown-list
        position: absolute;
        top: -1px;
        right: 200px;
        
    .accounts-dialog
        margin: 0

    .user-info
        position: absolute;
        top: 0;
        right: 50%;
        
        
        
        
.company-status
    background: gainsboro

.focus-container
    width:50%
    margin: 0 auto
    padding: 300px 0


.center-container
    width:100%
    height: 100%
    background: ghostwhite

.chat
    right: 0
    top: 0

    height:500px
    background: antiquewhite

.events
    right: 0
    top: 50%

    height:500px
    background: antiquewhite

.nav-list
    height:500px
    left: 0
    top: 50%
    background: aliceblue


.main
    width: 100%
    height: 100%
    position: relative

    
