/* CSS declarations go here */

.top-bar
    position:relative
    top: 0
    left: 0
    
    #login-dropdown-list
        position: absolute;
        top: -1px;
        right: 200px;
        
    .accounts-dialog
        margin: 0
        
        
.company-list
    width:100%
    background: gainsboro
    overflow: hidden
    
    .company-entry
        float: left
        margin:10px
        
        
.company-status
    @include 'well'

.focus-container
    width:50%
    margin: 0 auto
    padding: 300px 0