/* Bootstrap overrides */


.row
    margin:0








/* Page containers */

.top-bar
    position:relative
    top: 0
    left: 0
    background: gray
    color:white

    a
        color:white

    
    #login-dropdown-list
        position: absolute;
        top: -1px;
        right: 200px;
        
    .accounts-dialog
        margin: 0

    .user-info
        position: absolute;
        top: 0;
        right: 50%;
        
        
.company-list
    width:100%
    background: gainsboro
    overflow: hidden
    
    .company-entry
        float: left
        margin:10px
        
        
.company-status
    background: gainsboro
    width:100%

.focus-container
    width:50%
    margin: 0 auto
    padding: 300px 0


.center-container
    width:100%
    height: 100%
    background: ghostwhite

.chat
    width: 100%
    height:500px
    background: antiquewhite

.events
    width: 100%
    height:500px
    margin: 10px 0 10px 0
    background: cornsilk

.nav-list
    width: 100%
    height:500px
    background: aliceblue