template(name="mining")
    //-
        Screen for mining resources

    .mining.panel.drag-component.resizable(style="display:none")

        .panel-heading
            .pull-left Mining
            .pull-right
                .row
                    .close-btn(view="mining") X
        .panel-body
            .row.full-width
                .col-xs-4
                    p Overall efficiency: 58%
                    p Active workers: 10 / 60


                .col-xs-4
                    .efficiency-spark

                    .workers-spark

                    .iron-spark

                .col-xs-4
                    h4 Mined amount
                    p
                        button.btnx.btnx-1.btnx-1f Hour
                        button.btnx.btnx-1.btnx-1f Day
                        button.btnx.btnx-1.btnx-1f Week
                    
                    p Iron: #{mined.iron}
                    p Gold: #{mined.gold}
                    p Copper: #{mined.copper}

            hr

            .row.full-width
                each miners
                    .miner.col-xs-6
                        .miner-inner.row.full-width
                            .miner-img.col-xs-3

                            .miner-info.col-xs-9
                                p Mining rate: 804.6 / hour
                                p Cost: $ 54 / hour
                                p Workers: 1 / 3