template(name="EventList")
    //-
        Chat module
        Can join different channels


    .events.panel

        .panel-heading
            .pull-left Events

        .panel-body
            .event-list
                each events
                    .event-entry= message

    script.
        $(".events").height($(window).height()-$(".nav-list").height());
