


.events
    width: 200px
    
    .event-list
        
        .event-entry
            background: lavender
            color: black
            width:100%
            text-align: center
            margin: 2px 0

    .filters
        
        .btn-sm
            font-size: text-sm
            padding: 5px 5px

