template(name="Settlers")
    //-
        The corporation's workforce
        Hire new settlers, fire, manage them

    .settlers.panel.component(style="display:none")

        .panel-heading
            .pull-left Settlers

        .panel-body
            #settlers-settlers
                
