

template(name="corporation")
    //-
        Brief overview of corporation info.
    
    .corporation.panel.drag-component.resizable
        
        .panel-heading
            | Corporation

        .panel-body
            ul.nav.nav-tabs
                li.active: a(href="#corp-home" data-toggle="tab") Home
                li: a(href="#corp-public" data-toggle="tab") Public
                li: a(href="#corp-edit" data-toggle="tab") Edit

            .tab-content
                #corp-home.tab-pane.active
                    with corporation
                        p= name
                        p $ #{cash}
                        p Owner: #{currentUser.profile.name}
                        p Employees:

                        p
                            .progress.progress-striped.active
                                .progress-bar(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%")
                                    span.sr-only 45%

                        p
                            .progress.progress-striped.active
                                .progress-bar(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%")
                                    span.sr-only 45%

                        p
                            .progress.progress-striped.active
                                .progress-bar(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%")
                                    span.sr-only 45%
                
                #corp-public.tab-pane
                    h3= corporation.motto
                    p= corporation.description

                #corp-edit.tab-pane
                    h3 Motto
                    input(type="text" value="#{corporation.motto}").motto-edit
                    h3 Description
                    textarea.description-edit= corporation.description
                    button.btn.btn-warning.save-corp-info Save Changes