
template(name="navList")
    //-
        Vertical navigation list

    .nav-list.panel.panel-primary.drag-component
        .panel-heading
            | Navigation
            
        .panel-body
            nav
                ul.nav.nav-pills.nav-stacked
                    li: a(href="#company") Company
                    li: a(href="#market") Market
                    li: a(href="#employees") Employees
                    li: a(href="#finance") Finance
                    li: a(href="#production") Production
                    li: a(href="#relations") Relations
                    li: a(href="#politics") Politics

