

.nav-list
    top: 50%
    background: aliceblue
    height: 250px
    width: 90px
    left: 0

    .nav
        > li
            > a
                padding: 2px

    .nav-pills
        > li
            border-bottom: 1px solid

            > a
                border-radius: 0

        > li:last-child
            border-bottom:none