

.nav-list
	left: 0
    top: 50%
    background: aliceblue
	height: 225px
	width: 85px

	.nav
		> li
			> a
				padding: 2px

	.nav-pills
		> li
			border-bottom: 1px solid

			> a
				border-radius: 0

		> li:last-child
			border-bottom:none