

.employees
    display:block
    
    .employee
        border: 1px solid white
        border-radius: 2px
        padding: 5px
        width: 150px
        height: 150px
        float:left
        margin: 5px
        


        &[details-active="true"]
            width:100%
            
