template(name="Employees")
    //-
        The corporation's workforce
        Hire new employees, fire, manage them

    .employees.panel.component(style="display:none")

        .panel-heading
            .pull-left Employees
            .pull-right
                .row
                    .close-btn(view="employees") X
        .panel-body
            ul.nav.nav-tabs
                li.active: a(href="#employees-employees" data-toggle="tab") Overview
                li: a(href="#employees-list" data-toggle="tab") List
                li: a(href="#employees-hire" data-toggle="tab") Hire

            .tab-content
                #employees-employees.tab-pane.active
                    p Number of Employees: 100
                    p Average happiness: 84.5 %

                    .corporate-policies
                        h3 Policies

                        ul
                            li
                                span Free lunch
                                input.pull-right(type="checkbox")
                            li
                                span Free Healthcare
                                input.pull-right(type="checkbox")
                            li
                                span Free Dental
                                input.pull-right(type="checkbox")
                            

                #employees-list.tab-pane
                    .employee-filter

                    table.employee-table.full-width
                        thead
                            tr
                                th Name
                                th Age
                                th Occupation
                                th Status
                                th Wage
                                th Happiness
                                
                        tbody
                            tr
                                td Bob
                                td 43
                                td Secretary
                                td Working
                                td $ 78.6 / hour
                                td :D
                                td: .btn.btn-sm.btn-primary Details
                            tr
                                td Lisa
                                td 23
                                td Secretary
                                td Free
                                td $ 98.6 / hour
                                td :|
                                td: .btn.btn-sm.btn-primary Details
                            tr
                                td Leif
                                td 98
                                td Researcher
                                td Working
                                td $ 178.6 / hour
                                td :(
                                td: .btn.btn-sm.btn-primary Details
                            


                #employees-hire.tab-pane
                    table.hire-table.full-width
                        thead
                            tr
                                th Name
                                th Age
                                th Occupation
                                th Wage
                                th Base Happiness
                                
                        tbody
                            tr
                                td Bob
                                td 43
                                td Secretary
                                td $ 78.6 / hour
                                td :D
                                td: .btn.btn-sm.btn-primary Hire
                            tr
                                td Lisa
                                td 23
                                td Secretary
                                td $ 98.6 / hour
                                td :|
                                td: .btn.btn-sm.btn-primary Hire
                            tr
                                td Leif
                                td 98
                                td Researcher
                                td $ 178.6 / hour
                                td :(
                                td: .btn.btn-sm.btn-primary Hire