@import 'nib'

text-sm = 10px

/* Color palette */

primary = darkslategray
primaryColor = white
secondary = lightseagreen
secondaryColor = white

panel-background = white
panel-color = primaryColor
panel-header-background = white
panel-header-color = primaryColor

textcolor = primary


/* Bootstrap and default overrides */

html, body
    height:100%
    background: white
    font-size:12px
    color: textcolor !important

body
    // background: url(http://2.bp.blogspot.com/-WVHrVifuR9Y/TbEEn_KgSyI/AAAAAAAAAIc/xDQpp7VyZT4/s1600/night-sky-stars.jpg)
    // background: url(/img/airline-world.jpg)
    //background: url(http://img1.wikia.nocookie.net/__cb20130212011759/starwars/images/7/77/Galactic_City.png)
    packground-position: center
    packground-repeat: no-repeat
    background-size: cover

.row
    margin:0



/* General button style (reset) */
.btn
    border: none;
    font-family: inherit;
    font-size: 8px;
    background: none;
    cursor: pointer;
    padding: 4px 7px;
    display: inline-block;
    margin: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid darkslategray;
    background: darkslategray
    overflow: hidden;
    color: white !important

.btn:after
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);


/* Pseudo elements for icons */
.btn:before
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;

.btn:hover,
.btn:active
    color: darkslategray !important
    background: white

.btn:hover:after
    height: 75%;
    opacity: 1;


.btn:active:after
    height: 130%;
    opacity: 1;





.panel
    border-radius: 0px
    user-select: none
    margin: 0
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px
    color: textcolor !important
    
    li
        color:textcolor

    .panel-heading
        padding: 1px 5px
        border-radius: 0px
        user-select: none
        border-bottom: 1px solid primary !important

    .panel-body
        padding: 5px
        user-select: none
        resize: none
        overflow-y: auto;
        overflow-x: hidden;
        
        p, h1, h2, h3, h4
            color: textcolor 
        
.panel.resizable
    float:left
    
.component
    float:left
    width: 100%
    height: 100%

ul
    padding: 0
    margin: 0

    li
        list-style-type: none

table
    width: 100%


.nav-tabs
    
    a
        padding: 2px 5px !important

    > li
        > a
            border-radius: 1px 1px 0 0




/* Pill radios */

span.pill-radio
    position: absolute;
    right: 0;
    width: 60px;
    height: 25px;
    line-height: 25px;
    padding: 3px;
    color: #FFF;
    text-align: center;
    background: #c06f59;


    /*
    &:after
        content: "";
    */
 
input[type="radio"]
    position: absolute;
    right: 0;
    margin: 0;
    width: 60px;
    height: 35px;
    opacity: 0;
    cursor: pointer;

 
    &+span /*the span element that immediately follow the radio button */
        visibility: hidden; /*temporarily hide the "YES" label*/
        background: #6EB558;
        
    /*
    &+span:after
        content: "Yes";
    */
 
    &:checked+span
        visibility: visible; /*show the "YES" label only if the radio button is checked*/

    



input, textarea, option, select
    color:black


/* Layout */

.page
    padding: 5px
    position: relative
    overflow: hidden

.panel
    background: panel-background
    border: 5px solid primary
    color: panel-color
    opacity: 0.97
    box-shadow: 0px 0px 2px 2px black;
    
    .panel-heading
        background: transparent
        color: textcolor
        overflow: hidden
        resize: none
        font-weight: bolder
        border-bottom: 1px solid white
        
        .close-btn, .min-btn

            font-weight: bolder
            border: 2px solid primary
            color: textcolor
            width: 20px
            height: 20px
            border-radius: 2px
            text-align: center
            font-size: 12px

            &:hover
                cursor: pointer !important
                background: white
                color: primary





/* common classes */

.full-width
    width: 100% !important

.hover
    cursor: pointer

.pad-left
    padding-left: 20px

/* Framework */

.drag-component
    position: absolute;
   
.text-center
    width: 100% !important
    text-align: center 


.resizable
    resize: both
    min-width: 120px
    min-height: 90px
    max-width: 100%
    max-height: 100%


