@import 'nib'

text-sm = 10px

/* Color palette */

primary = darkslategray
primaryColor = white
secondary = darkcyan
secondaryColor = white

panel-background = primary
panel-color = primaryColor
panel-header-background = primary
panel-header-color = primaryColor


/* Bootstrap and default overrides */

html, body
    height:100%
    background: white

body
    // background: url(http://2.bp.blogspot.com/-WVHrVifuR9Y/TbEEn_KgSyI/AAAAAAAAAIc/xDQpp7VyZT4/s1600/night-sky-stars.jpg)
    packground-position: center
    packground-repeat: no-repeat
    background-size: cover

.row
    margin:0


.btn
    border-radius: 0

.panel
    border-radius: 3px
    user-select: none
    margin: 0
    overflow-y: hidden;
    overflow-x: hidden;

    .panel-heading
        padding: 1px 5px
        border-radius: 0px
        user-select: none

    .panel-body
        padding: 5px
        user-select: none
        resize: none
        overflow-y: auto;
        overflow-x: hidden;

ul
    padding: 0
    margin: 0

    li
        list-style-type: none

.nav-tabs
    
    a
        padding: 2px 5px !important

    > li
        > a
            border-radius: 1px 1px 0 0



a
    color: linen

input, textarea, option, select
    color:black


/* Layout */

.page
    padding: 5px
    position: relative
    overflow: hidden

.panel
    background: panel-background
    border: 3px solid secondary
    color: panel-color
    opacity: 0.97
    
    .panel-heading
        background: secondary
        color: panel-header-color
        overflow: hidden
        resize: none
        
        .close-btn, .min-btn

            font-weight: bolder
            background: primary
            color: white
            width: 20px
            height: 20px
            border-radius: 2px
            text-align: center
            font-size: 15px

            &:hover
                cursor: pointer !important
                background: white
                color: primary





/* common classes */

.full-width
    width: 100% !important

.hover
    cursor: pointer

.pad-left
    padding-left: 20px

/* Framework */

.drag-component
    position: absolute;
   
.text-center
    width: 100% !important
    text-align: center 


.resizable
    resize: both
    min-width: 120px
    min-height: 90px
    max-width: 80%
    max-height: 80%
