
[class^="ico-"]
    display:inline-block

    
.ico-settlers
    color: brown
    
.ico-gathering
    color: sienna
    
.ico-exploration
    color:green

.ico-storage
    color: darkorange
    
.ico-treasury
    color: goldenrod

.ico-market
    color: cornflowerblue

.ico-logging
    content:"rpg-Icon7_48"
    
/*
scroll rpg-Icon5_85
stone rpg-Icon5_58
foot rpg-Icon5_56
research rpg-Icon4_92
ink and pen rpg-Icon4_83
axes rpg-Icon4_37
run rpg-Icon4_33
broken rpg-Icon2_83
book rpg-Icon2_81
speaker rpg-Icon2_57
flag rpg-Icon2_58
swords rpg-Icon2_43
grow rpg-Icon2_26
law rpg-Icon2_14
craft rpg-Icon1_53
trade rpg-Icons8_74
bar rpg-Icons8_89
beer rpg-Icon4_48
key rpg-Icon3_92

*/