
@import 'nib'

@import 'base'

/* Page containers */

.top-bar
    position:relative
    top: 0
    left: 0
    background: gray
    color:textcolor
    user-select: none

    a
        color:textcolor

    #login-dropdown-list
        position: absolute;
        top: -1px;
        right: 200px;

    .accounts-dialog
        margin: 0

    .user-info
        position: absolute;
        top: 0;
        right: 50%;

.page-wrapper
    width: 800px
    margin: 60px auto
    overflow: hidden
    position:relative
    background: rgba(255,255,255,0.8)
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.52)
    min-height: 100%

    .side-bar
        width: 200px
        height: 100%
        float:left

    .main-window
        float:left
        width: 400px
        min-height: 1px

    .side-bar-right
        width: 200px
        height: 100%
        float:left

    .headline
        padding: 5px
        border-radius: 5px;

.box
    color: darkslategray
    padding: 5px
    margin: 5px
    overflow:hidden
    background: whitesmoke;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0.1);
    position:relative

#map-container
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0


.center-container
    width:100%
    height: 100%



.main
    width: 100%
    height: 100%
    position: relative


.context-menu
    width: 100px
    height: auto
    z-index:1000;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid black;
    padding: 2px;

    ul
        li

            &:hover
                background: darkslategray
                color: white
                cursor:pointer


.itemlink:before
    content:"["

.itemlink:after
    content:"]"

.junk
    color: gray
.material
    color: chocolate
.consumable
    color: lightblue
.weak
    color: brown
.sturdy
    color: darkorange
.terrific
    color: red
.exemplary
    color: purple

.game-title
    font-size: 50px
    font-weight:bold
    color:white
    width:100%
    text-align:center
    top: 50%
    position: absolute
    font-family: 'Cinzel', serif;