

.finance

    .tab-content
        padding:10px

    .transaction
        border: 1px solid darkslategray
        margin: 5px 0

    .transaction-list
        height: 300px
        overflow-y: auto
        color: darkslategray !important
