
template(name="Gathering")
    //-
        Manually gather resources
    
    .gathering.panel.component(style="display:none")
        
        .panel-heading
            .pull-left Gathering

        .panel-body

            .areas

                .area.forest
                    h3 Forest
                    .btn.chop-wood Chop wood

                .area.quarry
                    h3 Quarry
                    .btn.gather-stone Gather stone

                .area.mine
                    h3 Mine
                    .btn.dig Dig for metal

                .area.river
                    h3 River
                    .btn.fish Fish

            .status
                