

.gathering
    
    .areas
        width: 50%
        float: left
        
        .area
            
            .forest
                background: yellowgreen
            
            .quarry
                background: brown
                
            .mine
                background: gray
    .status
        width: 50%
        float:left