
template(name="chat")
    //-
        Chat module
        Can join different channels

    .chat.panel.drag-component.resizable

        .panel-heading
            .pull-left Chat
            .pull-right
                .row
                    .close-btn(view="chat") X

        .panel-body
            .channels
                button.btnx.btnx-1.btnx-1f Global
                button.btnx.btnx-1.btnx-1f Local

            .chat-message-list
                ul
                    each messages
                        li
                            b= sender.name
                            p= message

            input.chat-input(type="text")