
.chat
    right: 0
    top: 0
    width: 200px
    height: 300px
    background: aliceblue
    
    .channels
        overflow: hidden

    .chat-message-list
        height:200px
        overflow-y: auto

    .chat-input
        bottom: 0
        left: 0

    ul
        li
            b
                color: lavender
            p
                margin-bottom: 2px

