
template(name="Chat")
    //-
        Chat module
        Can join different channels

    .chat.panel

        .panel-heading
            .pull-left Chat
            .pull-right
                .row
                    .close-btn(view="chat") X

        .panel-body
            .channels
                .btn Global
                .btn Local

            .chat-message-list
                ul
                    each messages
                        li
                            b= sender.name
                            p= message

            input.chat-input(type="text")


    script.
        $(".chat").height($(window).height()-$(".nav-list").height());
        $(".chat .panel-body").height($(".chat").height()-50);
        $(".chat .chat-message-list").height($(".chat .panel-body").height()-80);