
.town-status
    padding:10px


.town
    
    .town-hall
        .general-info
            float:left
            width: 50%
    
            .inner
                margin: 10px
                padding: 5px
                border-radius: 1px
            
        .upgrade-info
            float:left
            width: 50%

    .buildings
        overflow:hidden
        
        .building
            float:left
            width: 50%;
            margin-bottom: 10px
            
            .inner
                border-bottom: 1px solid darkslategray
                color: darkslategray
                padding: 5px
                margin: 5px
                overflow:hidden
                background: whitesmoke;
                margin-bottom: 10px;
                border-radius: 6px;
                border: 2px solid rgba(0,0,0,0.1);
                height: 300px
                
                .info
                    float:left
                    width: 50%
                    
                .upgrade-info
                    float:left
                    width: 50%
    .unbuilt
        
        .building
            float:left
            width: 50%
            
            .inner
                border: 1px solid rgba(0,0,0,0.5)
                height: 200px
                padding: 5px
                margin: 5px