template(name="eventList")
    //-
        Chat module
        Can join different channels


    .events.panel.drag-component.resizable

        .panel-heading
            | Events

        .panel-body

            .filters.clearfix
                button.btnx.btnx-1.btnx-1f Bankruptcy
                button.btnx.btnx-1.btnx-1f Weather
                button.btnx.btnx-1.btnx-1f Workers
                button.btnx.btnx-1.btnx-1f Merket
                button.btnx.btnx-1.btnx-1f Messagerr
            
            .event-list
                .event-entry Event 1 happened!
                .event-entry Event 2 happened!
                .event-entry Event 3 happened!
                .event-entry Event 4 happened!
                .event-entry Event 5 happened!
