


.events
    min-width: 205px
    min-height:205px
    right: 0
    top: 50%
    background: antiquewhite

	
	.event-list
		
		.event-entry
			background:lavender
			width:100%
			text-align: center
			margin: 2px 0

	.filters
		
		.btn-sm
			font-size: text-sm
			padding: 5px 5px

