@import '../../client/stylesheets/base'



.market
    
    .item
        width: 50%
        color: darkslategray
        float:left
        
        .box
            margin: 2px
    
.market-order-dialog
    width: 300px
