
.chat
    right: 0
    top: 0
    width: 250px
    height: 300px
    background: aliceblue
    
    .channels
        overflow: hidden

    .chat-message-list
        max-height: 50%
        height:50%
        overflow-y: auto
        margin-bottom: 25px

    .chat-input
        position: absolute
        bottom: 0
        left: 0