
.storage

    .storage-item
        margin: 3px
        overflow:hidden
        
        .placeholder-icon
            width: 25px
            height: 25px
            margin-right: 5px
            background: black