
.storage

    .storage-item
        margin: 5px
        padding: 5px
        border: 1px solid darkslategray
        overflow:hidden
        float:left
        
        .placeholder-icon
            width: 25px
            height: 25px
            margin-right: 5px
            background: black