template(name="Storage")
    //-
        Overview of items corporation own

    .storage.panel.component
        .panel-heading
            .pull-left Storage

        .panel-body

            .storage-window
                each storageList
                    .storage-item(data-context="item" quantity="#{qty}" itemId="#{id}")
                        .pull-left
                            span!= el
                            span x#{qty}
