
.storage

    .storage-item
        margin: 5px 0 0 0
        border: 1px solid darkslategray
        overflow:hidden
        
        .placeholder-icon
            width: 25px
            height: 25px
            background: black