template(name="relations")
    //-
        The relation of your corporation to other Corporation
        Friends list, rival list etc

    .relations.panel.drag-component.resizable(style="display:none")
        .panel-heading Relations
        .panel-body
            p
                span Search: 
                input(placeholder="ticker / name")
                span.btn.btn.default Search

            .row.full-width

                .col-xs-6.corporation-list
                    
                    each Corporation
                        a: p.corporation-entry(corp="#{_id}")= name

                .col-xs-6

                    with selectedCorp
                        h3= name
                        p= motto
                        p= desc
                        p= reputation