

.nav-list
    height: 300px
    width: 200px
    left: 0

    .nav-buttons
        a
            color: darkslategray
            
            &:hover
                text-decoration: none
            
            li
                padding: 2px

                &:hover
                    background:white
                
