
template(name="NavList")
    //-
        Vertical navigation list

    .nav-list.panel
        .panel-heading
            | Navigation
            
        .panel-body
            nav
                ul.nav-buttons
                    a(href="#town"): li Town
                    a(href="#market"): li Market
                    a(href="#gathering"): li Gathering
                    a(href="#settlers"): li Settlers
                    a(href="#treasury"): li Treasury
                    //li: a(href="#production") Production
                    a(href="#relations"): li Relations
                    //li: a(href="#politics") Politics
                    a(href="#storage"): li Storage
                    a(href="#exploration"): li Exploration
                    //li: a(href="#mining") Mining

