
template(name="NavList")
    //-
        Vertical navigation list

    .nav-list.panel
        .panel-heading
            | Navigation
            
        .panel-body
            nav
                ul.nav-buttons
                    a(ref="town"): li
                        span.ico-citizens.rpg-Icon5_72
                        span Town
                    a(ref="market"): li
                        span.ico-market.rpg-Icons8_74
                        span Market
                    a(ref="barracks"): li
                        span.ico-barracks.rpg-Icon3_32
                        span Barracks
                    a(ref="gathering"): li
                        span.ico-gathering.rpg-Icon5_76
                        span Gathering
                    a(ref="settlers"): li
                        span.ico-settlers.rpg-Icon6_01
                        span Settlers
                    a(ref="treasury"): li
                        span.ico-treasury.rpg-Icons8_89
                        span Treasury
                    //li: a(ref="production") Production
                    a(ref="relations"): li
                        span.rpg-Icon4_83
                        span Relations
                    //li: a(ref="politics") Politics
                    a(ref="storage"): li
                        span.ico-storage.rpg-Icon3_92
                        span Storage
                    a(ref="exploration"): li
                        span.ico-exploration.rpg-Icon5_56
                        span Exploration
                    //li: a(ref="mining") Mining
                    a(ref="settings"): li
                        span.ico-settings.rpg-Icon7_55
                        span Settings
