
template(name="NavList")
    //-
        Vertical navigation list

    .nav-list.panel
        .panel-heading
            | Navigation
            
        .panel-body
            nav
                ul.nav-buttons
                    a(href="#town"): li
                        span.ico-citizens.rpg-Icon5_72
                        span Town
                    a(href="#market"): li
                        span.ico-market.rpg-Icons8_74
                        span Market
                    a(href="#barracks"): li
                        span.ico-barracks.rpg-Icon3_32
                        span Barracks
                    a(href="#gathering"): li
                        span.ico-gathering.rpg-Icon5_76
                        span Gathering
                    a(href="#settlers"): li
                        span.ico-settlers.rpg-Icon6_01
                        span Settlers
                    a(href="#treasury"): li
                        span.ico-treasury.rpg-Icons8_89
                        span Treasury
                    //li: a(href="#production") Production
                    a(href="#relations"): li
                        span.rpg-Icon4_83
                        span Relations
                    //li: a(href="#politics") Politics
                    a(href="#storage"): li
                        span.ico-storage.rpg-Icon3_92
                        span Storage
                    a(href="#exploration"): li
                        span.ico-exploration.rpg-Icon5_56
                        span Exploration
                    //li: a(href="#mining") Mining
                    a(href="settings"): li
                        span.ico-settings.rpg-Icon7_55
                        span Settings
