template(name="Relations")
    //-
        The relation of your corporation to other Corporation
        Friends list, rival list etc

    .relations.panel.component(style="display:none")
        .panel-heading
            .pull-left Relations

        .panel-body
            p
                span Search: 
                input(placeholder="ticker / name")
                span.btn.btn.default Search

            .row.full-width

                .col-xs-6.corporation-list
                    

                .col-xs-6
